In [3]:
import subprocess


packages = [
    "pandas",
    "openpyxl",
    "matplotlib",
    "numpy",
    "streamlit",
]

for package in packages:
    subprocess.call(["pip", "install", "--q", package])

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [51]:
dataHotels = pd.read_excel("./hotels/hotels.xlsx")
dataGuests = pd.read_excel("./hotels/guests.xlsx")
dataPreferences = pd.read_excel("./hotels/preferences.xlsx")

In [52]:
dataHotels.head(5).drop("Unnamed: 0", axis=1)

     hotel  rooms  price
0  hotel_1     13    273
1  hotel_2     18     92
2  hotel_3     12    141
3  hotel_4     18    157
4  hotel_5      7    298

In [53]:
dataGuests.head(5).drop("Unnamed: 0", axis=1)

     guest  discount
0  guest_1      0.09
1  guest_2      0.00
2  guest_3      0.07
3  guest_4      0.00
4  guest_5      0.10

In [54]:
dataPreferences = dataPreferences.sort_values(["guest", "priority"])

0       [hotel_168, hotel_207, hotel_222, hotel_124, h...
1       [hotel_60, hotel_317, hotel_95, hotel_22, hote...
2       [hotel_73, hotel_154, hotel_45, hotel_377, hot...
3       [hotel_396, hotel_7, hotel_391, hotel_351, hot...
4       [hotel_109, hotel_52, hotel_33, hotel_204, hot...
                              ...
3995    [hotel_354, hotel_290, hotel_135, hotel_25, ho...
3996                                [hotel_135, hotel_18]
3997    [hotel_356, hotel_376, hotel_355, hotel_172, h...
3998    [hotel_381, hotel_216, hotel_242, hotel_144, h...
3999                     [hotel_247, hotel_43, hotel_358]
Name: hotel, Length: 4000, dtype: object

In [60]:
dataPreferences

           guest                                              hotel
0        guest_1  [hotel_168, hotel_207, hotel_222, hotel_124, h...
1       guest_10  [hotel_60, hotel_317, hotel_95, hotel_22, hote...
2      guest_100  [hotel_73, hotel_154, hotel_45, hotel_377, hot...
3     guest_1000  [hotel_396, hotel_7, hotel_391, hotel_351, hot...
4     guest_1001  [hotel_109, hotel_52, hotel_33, hotel_204, hot...
...          ...                                                ...
3995   guest_995  [hotel_354, hotel_290, hotel_135, hotel_25, ho...
3996   guest_996                              [hotel_135, hotel_18]
3997   guest_997  [hotel_356, hotel_376, hotel_355, hotel_172, h...
3998   guest_998  [hotel_381, hotel_216, hotel_242, hotel_144, h...
3999   guest_999                   [hotel_247, hotel_43, hotel_358]

[4000 rows x 2 columns]

,0,213,2106,24152,24199,24240,24257,24265,24280,24313,...,3990,3991,3992,3993,3994,3995,3996,3997,3998,3999
guest,guest_1,guest_10,guest_100,guest_1000,guest_1001,guest_1002,guest_1003,guest_1004,guest_1005,guest_1006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hotel,"[hotel_168, hotel_207, hotel_222, hotel_124, h...","[hotel_391, hotel_298, hotel_17, hotel_343, ho...","[hotel_177, hotel_26, hotel_14, hotel_192, hot...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"[hotel_347, hotel_55, hotel_36, hotel_274, hot...","[hotel_344, hotel_52, hotel_247, hotel_232, ho...","[hotel_18, hotel_66, hotel_101, hotel_389, hot...","[hotel_61, hotel_74, hotel_136, hotel_395, hot...","[hotel_91, hotel_180, hotel_96, hotel_351, hot...","[hotel_354, hotel_290, hotel_135, hotel_25, ho...","[hotel_135, hotel_18]","[hotel_356, hotel_376, hotel_355, hotel_172, h...","[hotel_381, hotel_216, hotel_242, hotel_144, h...","[hotel_247, hotel_43, hotel_358]"

In [14]:
dataPreferences.groupby(["guest"]) \
       .agg({"priority": lambda x: ', '.join(str(x))})

                                                     priority
guest
guest_1     0,  ,  ,  ,  ,  ,  , 1, \n, 1,  ,  ,  ,  ,  , ...
guest_10    2, 1, 3,  ,  ,  ,  ,  , 1, \n, 2, 1, 4,  ,  , ...
guest_100   2, 1, 0, 6,  ,  ,  ,  ,  , 1, \n, 2, 1, 0, 7, ...
guest_1000  2, 4, 1, 5, 2,  ,  ,  ,  ,  , 1, \n, 2, 4, 1, ...
guest_1001  2, 4, 1, 9, 9,  ,  ,  ,  ,  , 1, \n, 2, 4, 2, ...
...                                                       ...
guest_995   2, 4, 0, 7, 1,  ,  ,  ,  , 1, \n, 2, 4, 0, 7, ...
guest_996   2, 4, 0, 7, 8,  ,  ,  ,  , 1, \n, 2, 4, 0, 7, ...
guest_997   2, 4, 0, 8, 0,  ,  ,  ,  ,  , 1, \n, 2, 4, 0, ...
guest_998   2, 4, 1, 2, 4,  ,  ,  ,  ,  , 1, \n, 2, 4, 1, ...
guest_999   2, 4, 1, 4, 9,  ,  ,  ,  , 1, \n, 2, 4, 1, 5, ...

[4000 rows x 1 columns]

In [33]:
dataPreferences[dataPreferences["guest"] == "guest_1"]

    Unnamed: 0    guest      hotel  priority
0            0  guest_1  hotel_168         1
1            1  guest_1  hotel_207         2
2            2  guest_1  hotel_222         3
3            3  guest_1  hotel_124         4
4            4  guest_1  hotel_223         5
5            5  guest_1  hotel_297         6
6            6  guest_1  hotel_129         7
7            7  guest_1   hotel_12         8
8            8  guest_1    hotel_1         9
9            9  guest_1  hotel_129        10
10          10  guest_1   hotel_46        11
11          11  guest_1  hotel_343        12
12          12  guest_1  hotel_338        13
13          13  guest_1   hotel_90        14
14          14  guest_1  hotel_269        15
15          15  guest_1  hotel_237        16
16          16  guest_1   hotel_22        17
17          17  guest_1   hotel_97        18

In [26]:
dataPreferences.head(5).drop("Unnamed: 0", axis=1)

     guest      hotel  priority
0  guest_1  hotel_168         1
1  guest_1  hotel_207         2
2  guest_1  hotel_222         3
3  guest_1  hotel_124         4
4  guest_1  hotel_223         5

In [38]:
dataAvailableHotels = pd.DataFrame(columns=["hotel", "available_rooms"])

In [85]:
create_available_rooms(dataHotels=dataHotels)

{'hotel_1': 13,
 'hotel_2': 18,
 'hotel_3': 12,
 'hotel_4': 18,
 'hotel_5': 7,
 'hotel_6': 10,
 'hotel_7': 11,
 'hotel_8': 9,
 'hotel_9': 5,
 'hotel_10': 10,
 'hotel_11': 19,
 'hotel_12': 18,
 'hotel_13': 15,
 'hotel_14': 6,
 'hotel_15': 5,
 'hotel_16': 12,
 'hotel_17': 18,
 'hotel_18': 8,
 'hotel_19': 10,
 'hotel_20': 10,
 'hotel_21': 15,
 'hotel_22': 17,
 'hotel_23': 15,
 'hotel_24': 9,
 'hotel_25': 17,
 'hotel_26': 19,
 'hotel_27': 10,
 'hotel_28': 7,
 'hotel_29': 19,
 'hotel_30': 5,
 'hotel_31': 9,
 'hotel_32': 18,
 'hotel_33': 6,
 'hotel_34': 11,
 'hotel_35': 9,
 'hotel_36': 6,
 'hotel_37': 5,
 'hotel_38': 14,
 'hotel_39': 18,
 'hotel_40': 5,
 'hotel_41': 11,
 'hotel_42': 8,
 'hotel_43': 7,
 'hotel_44': 16,
 'hotel_45': 11,
 'hotel_46': 17,
 'hotel_47': 15,
 'hotel_48': 11,
 'hotel_49': 19,
 'hotel_50': 7,
 'hotel_51': 6,
 'hotel_52': 19,
 'hotel_53': 19,
 'hotel_54': 14,
 'hotel_55': 6,
 'hotel_56': 18,
 'hotel_57': 12,
 'hotel_58': 15,
 'hotel_59': 18,
 'hotel_60': 13,
 'hotel_61': 7,
 'hotel_62': 6,
 'hotel_63': 16,
 'hotel_64': 5,
 'hotel_65': 5,
 'hotel_66': 6,
 'hotel_67': 14,
 'hotel_68': 10,
 'hotel_69': 14,
 'hotel_70': 15,
 'hotel_71': 14,
 'hotel_72': 6,
 'hotel_73': 11,
 'hotel_74': 10,
 'hotel_75': 17,
 'hotel_76': 13,
 'hotel_77': 12,
 'hotel_78': 12,
 'hotel_79': 5,
 'hotel_80': 15,
 'hotel_81': 16,
 'hotel_82': 15,
 'hotel_83': 14,
 'hotel_84': 11,
 'hotel_85': 5,
 'hotel_86': 12,
 'hotel_87': 5,
 'hotel_88': 11,
 'hotel_89': 14,
 'hotel_90': 17,
 'hotel_91': 12,
 'hotel_92': 7,
 'hotel_93': 11,
 'hotel_94': 16,
 'hotel_95': 5,
 'hotel_96': 12,
 'hotel_97': 16,
 'hotel_98': 14,
 'hotel_99': 6,
 'hotel_100': 19,
 'hotel_101': 15,
 'hotel_102': 15,
 'hotel_103': 8,
 'hotel_104': 9,
 'hotel_105': 17,
 'hotel_106': 11,
 'hotel_107': 6,
 'hotel_108': 5,
 'hotel_109': 11,
 'hotel_110': 17,
 'hotel_111': 9,
 'hotel_112': 8,
 'hotel_113': 6,
 'hotel_114': 19,
 'hotel_115': 19,
 'hotel_116': 7,
 'hotel_117': 15,
 'hotel_118': 13,
 'hotel_119': 5,
 'hotel_120': 13,
 'hotel_121': 15,
 'hotel_122': 19,
 'hotel_123': 6,
 'hotel_124': 10,
 'hotel_125': 7,
 'hotel_126': 18,
 'hotel_127': 15,
 'hotel_128': 11,
 'hotel_129': 19,
 'hotel_130': 16,
 'hotel_131': 5,
 'hotel_132': 9,
 'hotel_133': 11,
 'hotel_134': 10,
 'hotel_135': 8,
 'hotel_136': 5,
 'hotel_137': 13,
 'hotel_138': 12,
 'hotel_139': 8,
 'hotel_140': 8,
 'hotel_141': 6,
 'hotel_142': 18,
 'hotel_143': 17,
 'hotel_144': 18,
 'hotel_145': 12,
 'hotel_146': 11,
 'hotel_147': 16,
 'hotel_148': 11,
 'hotel_149': 15,
 'hotel_150': 7,
 'hotel_151': 8,
 'hotel_152': 7,
 'hotel_153': 13,
 'hotel_154': 8,
 'hotel_155': 7,
 'hotel_156': 8,
 'hotel_157': 6,
 'hotel_158': 5,
 'hotel_159': 10,
 'hotel_160': 11,
 'hotel_161': 8,
 'hotel_162': 8,
 'hotel_163': 5,
 'hotel_164': 5,
 'hotel_165': 17,
 'hotel_166': 7,
 'hotel_167': 9,
 'hotel_168': 13,
 'hotel_169': 16,
 'hotel_170': 7,
 'hotel_171': 5,
 'hotel_172': 16,
 'hotel_173': 18,
 'hotel_174': 13,
 'hotel_175': 10,
 'hotel_176': 12,
 'hotel_177': 8,
 'hotel_178': 8,
 'hotel_179': 5,
 'hotel_180': 13,
 'hotel_181': 16,
 'hotel_182': 15,
 'hotel_183': 17,
 'hotel_184': 8,
 'hotel_185': 9,
 'hotel_186': 15,
 'hotel_187': 13,
 'hotel_188': 5,
 'hotel_189': 18,
 'hotel_190': 10,
 'hotel_191': 17,
 'hotel_192': 15,
 'hotel_193': 12,
 'hotel_194': 16,
 'hotel_195': 16,
 'hotel_196': 12,
 'hotel_197': 9,
 'hotel_198': 5,
 'hotel_199': 9,
 'hotel_200': 17,
 'hotel_201': 7,
 'hotel_202': 10,
 'hotel_203': 6,
 'hotel_204': 6,
 'hotel_205': 17,
 'hotel_206': 13,
 'hotel_207': 8,
 'hotel_208': 7,
 'hotel_209': 11,
 'hotel_210': 6,
 'hotel_211': 10,
 'hotel_212': 5,
 'hotel_213': 14,
 'hotel_214': 9,
 'hotel_215': 9,
 'hotel_216': 6,
 'hotel_217': 13,
 'hotel_218': 10,
 'hotel_219': 5,
 'hotel_220': 11,
 'hotel_221': 6,
 'hotel_222': 17,
 'hotel_223': 17,
 'hotel_224': 16,
 'hotel_225': 6,
 'hotel_226': 10,
 'hotel_227': 10,
 'hotel_228': 12,
 'hotel_229': 14,
 'hotel_230': 9,
 'hotel_231': 9,
 'hotel_232': 11,
 'hotel_233': 12,
 'hotel_234': 14,
 'hotel_235': 5,
 'hotel_236': 14,
 'hotel_237': 17,
 'hotel_238': 8,
 'hotel_239': 10,
 'hotel_240': 9,
 'hotel_241': 8,
 'hotel_242': 13,
 'hotel_243': 8,
 'hotel_244': 5,
 'hotel_245': 17,
 'hotel_246': 13,
 'hotel_247': 14,
 'hotel_248': 7,
 'hotel_249': 16,
 'hotel_250': 14,
 'hotel_251': 17,
 'hotel_252': 13,
 'hotel_253': 7,
 'hotel_254': 11,
 'hotel_255': 8,
 'hotel_256': 9,
 'hotel_257': 9,
 'hotel_258': 5,
 'hotel_259': 14,
 'hotel_260': 12,
 'hotel_261': 13,
 'hotel_262': 15,
 'hotel_263': 15,
 'hotel_264': 18,
 'hotel_265': 14,
 'hotel_266': 18,
 'hotel_267': 5,
 'hotel_268': 14,
 'hotel_269': 5,
 'hotel_270': 10,
 'hotel_271': 6,
 'hotel_272': 15,
 'hotel_273': 15,
 'hotel_274': 12,
 'hotel_275': 11,
 'hotel_276': 19,
 'hotel_277': 18,
 'hotel_278': 18,
 'hotel_279': 7,
 'hotel_280': 12,
 'hotel_281': 14,
 'hotel_282': 17,
 'hotel_283': 9,
 'hotel_284': 17,
 'hotel_285': 16,
 'hotel_286': 8,
 'hotel_287': 15,
 'hotel_288': 16,
 'hotel_289': 5,
 'hotel_290': 7,
 'hotel_291': 5,
 'hotel_292': 6,
 'hotel_293': 7,
 'hotel_294': 14,
 'hotel_295': 16,
 'hotel_296': 12,
 'hotel_297': 10,
 'hotel_298': 12,
 'hotel_299': 13,
 'hotel_300': 9,
 'hotel_301': 6,
 'hotel_302': 5,
 'hotel_303': 19,
 'hotel_304': 15,
 'hotel_305': 18,
 'hotel_306': 15,
 'hotel_307': 5,
 'hotel_308': 17,
 'hotel_309': 17,
 'hotel_310': 11,
 'hotel_311': 7,
 'hotel_312': 15,
 'hotel_313': 18,
 'hotel_314': 16,
 'hotel_315': 15,
 'hotel_316': 17,
 'hotel_317': 19,
 'hotel_318': 15,
 'hotel_319': 13,
 'hotel_320': 9,
 'hotel_321': 15,
 'hotel_322': 9,
 'hotel_323': 18,
 'hotel_324': 5,
 'hotel_325': 14,
 'hotel_326': 15,
 'hotel_327': 9,
 'hotel_328': 18,
 'hotel_329': 5,
 'hotel_330': 5,
 'hotel_331': 17,
 'hotel_332': 15,
 'hotel_333': 8,
 'hotel_334': 7,
 'hotel_335': 6,
 'hotel_336': 11,
 'hotel_337': 10,
 'hotel_338': 10,
 'hotel_339': 10,
 'hotel_340': 6,
 'hotel_341': 12,
 'hotel_342': 10,
 'hotel_343': 15,
 'hotel_344': 18,
 'hotel_345': 11,
 'hotel_346': 19,
 'hotel_347': 8,
 'hotel_348': 6,
 'hotel_349': 6,
 'hotel_350': 12,
 'hotel_351': 5,
 'hotel_352': 8,
 'hotel_353': 14,
 'hotel_354': 12,
 'hotel_355': 10,
 'hotel_356': 18,
 'hotel_357': 5,
 'hotel_358': 5,
 'hotel_359': 14,
 'hotel_360': 13,
 'hotel_361': 7,
 'hotel_362': 13,
 'hotel_363': 8,
 'hotel_364': 11,
 'hotel_365': 14,
 'hotel_366': 19,
 'hotel_367': 11,
 'hotel_368': 12,
 'hotel_369': 6,
 'hotel_370': 15,
 'hotel_371': 10,
 'hotel_372': 18,
 'hotel_373': 16,
 'hotel_374': 18,
 'hotel_375': 8,
 'hotel_376': 12,
 'hotel_377': 6,
 'hotel_378': 19,
 'hotel_379': 8,
 'hotel_380': 17,
 'hotel_381': 15,
 'hotel_382': 6,
 'hotel_383': 7,
 'hotel_384': 15,
 'hotel_385': 15,
 'hotel_386': 5,
 'hotel_387': 15,
 'hotel_388': 17,
 'hotel_389': 15,
 'hotel_390': 9,
 'hotel_391': 6,
 'hotel_392': 18,
 'hotel_393': 8,
 'hotel_394': 19,
 'hotel_395': 10,
 'hotel_396': 5,
 'hotel_397': 12,
 'hotel_398': 14,
 'hotel_399': 16,
 'hotel_400': 14}

In [90]:
import os
os.getcwd()

'/Users/vladislavkovalev/Desktop/git/UniMi-DSE-Master/1 year 1 thrimester/Pyhton/dscoding-projects/Vladislav_Kovalev'

In [3]:
from first_strategy.tools.decrement.decrement_dictionary_with_deletion import (
    decrement_dictionary_with_deletion,
)

{'item': 9}
{}
{}