In [32]:
import pandas as pd

In [1]:
import pandas as pd
import openpyxl

In [7]:

guests_table= pd.read_excel(r"C:\Users\lejda\Desktop\coding - Python\guests.xlsx")
guests_table

      Unnamed: 0       guest  discount
0              0     guest_1      0.09
1              1     guest_2      0.00
2              2     guest_3      0.07
3              3     guest_4      0.00
4              4     guest_5      0.10
...          ...         ...       ...
3995        3995  guest_3996      0.00
3996        3996  guest_3997      0.15
3997        3997  guest_3998      0.07
3998        3998  guest_3999      0.08
3999        3999  guest_4000      0.07

[4000 rows x 3 columns]

In [ ]:
hotels_table = pd.read_excel(r"C:\Users\lejda\Desktop\coding - Python\hotels.xlsx")
hotels_