In [1]:

import pandas as pd
df = pd.read_excel("/Users/Gulli/Downloads/worldcities.xlsx")

In [2]:
df

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140
...,...,...,...,...,...,...,...,...,...,...,...
26564,Nord,Nord,81.7166,-17.8000,Greenland,GL,GRL,Sermersooq,NaN,10.0,1304217709
26565,Timmiarmiut,Timmiarmiut,62.5333,-42.2167,Greenland,GL,GRL,Kujalleq,NaN,10.0,1304206491
26566,Cheremoshna,Cheremoshna,51.3894,30.0989,Ukraine,UA,UKR,Kyyivs’ka Oblast’,NaN,0.0,1804043438
26567,Ambarchik,Ambarchik,69.6510,162.3336,Russia,RU,RUS,Sakha (Yakutiya),NaN,0.0,1643739159
26568,Nordvik,Nordvik,74.0165,111.5100,Russia,RU,RUS,Krasnoyarskiy Kray,NaN,0.0,1643587468

In [ ]:
import folium
print(folium.__version__)

In [3]:
lat=[]
lng=[]
for column_name, item in df.iterrows():
        lat.append(df["lat"].iloc[int(column_name)])

for column_name, item in df.iterrows():
        lng.append(df["lng"].iloc[int(column_name)])

In [ ]:
len(lat)

In [ ]:
import create_map #range(len(lat))
for i in range(5):
    map=create_map.Mappa(lat[i] , lng[i] ,df["city"].iloc[i])
#map= folium.Map( location =[30,10], zoom_start=2)
#map.save("Città.html")

In [ ]:
map

In [ ]:
map.save("Città2.html")

In [9]:
from geopy.distance import great_circle

In [ ]:
distance = great_circle(point1, point2)

# Print the distance in various units
#print(f"Distance: {distance.kilometers} kilometers")
#print(f"Distance: {distance.miles} miles")
#print(f"Distance: {distance.nautical} nautical miles")
#print(f"Distance: {distance.meters} meters")

In [22]:
df.loc[df['city']=='London',['id','lat']]

               id      lat
34     1826645935  51.5072
1669   1124469960  42.9836
12232  1840015258  37.1175
17408  1840000674  39.8936

In [17]:
df[df["city"]=="London"][["id","city","country"]]

               id    city         country
34     1826645935  London  United Kingdom
1669   1124469960  London          Canada
12232  1840015258  London   United States
17408  1840000674  London   United States

In [21]:
df[df["id"]==1826645935]["id"]

C:\Users\Gulli\AppData\Local\Temp\ipykernel_15480\2237110701.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  int(df[df["id"]==1826645935]["id"])

1826645935

In [ ]:
from ubication import estrazione
lat=estrazione(df,"lat")
lat

In [ ]:
#map= folium.Map( location =[30,10], zoom_start=2)
#map.save("Città.html")

In [ ]:
#for inex, row in df.iterrows():
 #   folium.Marker(location=[df["lat"].iloc[index],df["lng"].iloc[index]],popup=df["city"].iloc[index]).add_to(map)
 #map
folium.Marker(location=[df["lat"].iloc[0],df["lng"].iloc[0]],popup=df["city"].iloc[0]).add_to(map)
map