In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("bgg.csv")
df

          game                                         title  rating
0        25984  Trivial Pursuit: Genus IV – Canadian Edition     3.0
1        25984  Trivial Pursuit: Genus IV – Canadian Edition     5.0
2        25984  Trivial Pursuit: Genus IV – Canadian Edition     3.0
3        25984  Trivial Pursuit: Genus IV – Canadian Edition     7.0
4        25984  Trivial Pursuit: Genus IV – Canadian Edition     6.0
...        ...                                           ...     ...
1082162  11906                 Source of the Nile: Tributary     5.0
1082163  11906                 Source of the Nile: Tributary     NaN
1082164  11906                 Source of the Nile: Tributary     NaN
1082165  11906                 Source of the Nile: Tributary     NaN
1082166  11906                 Source of the Nile: Tributary     NaN

[1082167 rows x 3 columns]

In [3]:
df_sorted = df.sort_values(['title', 'rating'], ascending=(True, True))
df_sorted

          game             title  rating
28668    30457  !dentity Crisis?    2.00
28658    30457  !dentity Crisis?    3.00
28660    30457  !dentity Crisis?    5.00
28669    30457  !dentity Crisis?    5.00
28663    30457  !dentity Crisis?    6.00
...        ...               ...     ...
773346  177572  猿道 (Monkey Road)    7.00
773347  177572  猿道 (Monkey Road)    8.56
773343  177572  猿道 (Monkey Road)     NaN
773345  177572  猿道 (Monkey Road)     NaN
773351  177572  猿道 (Monkey Road)     NaN

[1082167 rows x 3 columns]

In [4]:
df2=df_sorted.dropna().reset_index(drop=True)
df2

          game             title  rating
0        30457  !dentity Crisis?    2.00
1        30457  !dentity Crisis?    3.00
2        30457  !dentity Crisis?    5.00
3        30457  !dentity Crisis?    5.00
4        30457  !dentity Crisis?    6.00
...        ...               ...     ...
706808  177572  猿道 (Monkey Road)    6.50
706809  177572  猿道 (Monkey Road)    7.00
706810  177572  猿道 (Monkey Road)    7.00
706811  177572  猿道 (Monkey Road)    7.00
706812  177572  猿道 (Monkey Road)    8.56

[706813 rows x 3 columns]

In [5]:
df3 = df2[['game', 'title']]
df3

          game             title
0        30457  !dentity Crisis?
1        30457  !dentity Crisis?
2        30457  !dentity Crisis?
3        30457  !dentity Crisis?
4        30457  !dentity Crisis?
...        ...               ...
706808  177572  猿道 (Monkey Road)
706809  177572  猿道 (Monkey Road)
706810  177572  猿道 (Monkey Road)
706811  177572  猿道 (Monkey Road)
706812  177572  猿道 (Monkey Road)

[706813 rows x 2 columns]

In [6]:
game_ratings_sum = df2.groupby('title')['rating'].sum()
game_ratings_sum

title
!dentity Crisis?                                        52.60
#MyLife                                                 40.00
&Cetera                                                226.50
'65: Squad-Level Combat in the Jungles of Vietnam      304.50
'CA' Tactical Naval Warfare in the Pacific, 1941-45    167.00
                                                        ...
なつめも (Natsumemo)                                       142.50
ひとひら (Hitohira)                                         74.00
カマクラコレクション (Kamakura Collection)                        30.00
ボブジテン (Bob Jiten)                                       44.00
猿道 (Monkey Road)                                        52.06
Name: rating, Length: 23264, dtype: float64

In [7]:
dftitle=df2['title'].value_counts()
dftitle

title
Cosmic Encounter                        312
Gettysburg                              221
Dune                                    198
Lord of the Rings: The Confrontation    169
Arkham Horror                           167
                                       ...
The LogiQuad Game System                  1
I'm a Celebrity                           1
Ceuta                                     1
Centre Chess                              1
Putsch au Panador                         1
Name: count, Length: 23264, dtype: int64

In [8]:
game_ratings_average = df2.groupby('title')['rating'].mean()
game_ratings_average

title
!dentity Crisis?                                       5.844444
#MyLife                                                5.714286
&Cetera                                                7.306452
'65: Squad-Level Combat in the Jungles of Vietnam      7.612500
'CA' Tactical Naval Warfare in the Pacific, 1941-45    4.513514
                                                         ...
なつめも (Natsumemo)                                       7.916667
ひとひら (Hitohira)                                        6.166667
カマクラコレクション (Kamakura Collection)                       7.500000
ボブジテン (Bob Jiten)                                      7.333333
猿道 (Monkey Road)                                       5.784444
Name: rating, Length: 23264, dtype: float64

In [9]:
table1=game_ratings_sum

In [10]:
table2=dftitle

In [11]:
table3=game_ratings_average

In [12]:
left=pd.merge(table1, table2, on = 'title')
left

                                                    rating  count
title
!dentity Crisis?                                     52.60      9
#MyLife                                              40.00      7
&Cetera                                             226.50     31
'65: Squad-Level Combat in the Jungles of Vietnam   304.50     40
'CA' Tactical Naval Warfare in the Pacific, 194...  167.00     37
...                                                    ...    ...
なつめも (Natsumemo)                                    142.50     18
ひとひら (Hitohira)                                      74.00     12
カマクラコレクション (Kamakura Collection)                     30.00      4
ボブジテン (Bob Jiten)                                    44.00      6
猿道 (Monkey Road)                                     52.06      9

[23264 rows x 2 columns]

In [13]:
full_table=pd.merge(left, table3, on='title')
full_table

                                                    rating_x  count  rating_y
title
!dentity Crisis?                                       52.60      9  5.844444
#MyLife                                                40.00      7  5.714286
&Cetera                                               226.50     31  7.306452
'65: Squad-Level Combat in the Jungles of Vietnam     304.50     40  7.612500
'CA' Tactical Naval Warfare in the Pacific, 194...    167.00     37  4.513514
...                                                      ...    ...       ...
なつめも (Natsumemo)                                      142.50     18  7.916667
ひとひら (Hitohira)                                        74.00     12  6.166667
カマクラコレクション (Kamakura Collection)                       30.00      4  7.500000
ボブジテン (Bob Jiten)                                      44.00      6  7.333333
猿道 (Monkey Road)                                       52.06      9  5.784444

[23264 rows x 3 columns]

In [14]:
full_table.rename(columns={'rating_x': 'rating_sum', 'count': 'rating_number', 'rating_y': 'rating_average'}, inplace=True)
full_table

,rating_sum,rating_number,rating_average
title,,,
!dentity Crisis?,52.60,9,5.844444
#MyLife,40.00,7,5.714286
&Cetera,226.50,31,7.306452
'65: Squad-Level Combat in the Jungles of Vietnam,304.50,40,7.612500
"'CA' Tactical Naval Warfare in the Pacific, 1941-45",167.00,37,4.513514
...,...,...,...
なつめも (Natsumemo),142.50,18,7.916667
ひとひら (Hitohira),74.00,12,6.166667
カマクラコレクション (Kamakura Collection),30.00,4,7.500000
ボブジテン (Bob Jiten),44.00,6,7.333333
猿道 (Monkey Road),52.06,9,5.784444

In [15]:
prior_weight=full_table['rating_number'].mean()
prior_weight

30.382264442916092

In [16]:
prior_mean= full_table['rating_average'].mean()
prior_mean

6.119832661544632

## The full rating table
- We need a table which shows both the average rating and the bayesian average rating

In [18]:
from Board_Game_Project.function import Bayesian_average_funct

SyntaxError: invalid syntax. Perhaps you forgot a comma? (function.py, line 17)

In [19]:
full_table['bayesian_average'] = full_table.apply(lambda row: Bayesian_average_funct(row),axis=1)
full_table

,rating_sum,rating_number,rating_average,bayesian_average
title,,,,
!dentity Crisis?,52.60,9,5.844444,6.056898
#MyLife,40.00,7,5.714286,6.043892
&Cetera,226.50,31,7.306452,6.719113
'65: Squad-Level Combat in the Jungles of Vietnam,304.50,40,7.612500,6.968153
"'CA' Tactical Naval Warfare in the Pacific, 1941-45",167.00,37,4.513514,5.237793
...,...,...,...,...
なつめも (Natsumemo),142.50,18,7.916667,6.788322
ひとひら (Hitohira),74.00,12,6.166667,6.133093
カマクラコレクション (Kamakura Collection),30.00,4,7.500000,6.280400
ボブジテン (Bob Jiten),44.00,6,7.333333,6.319958
猿道 (Monkey Road),52.06,9,5.784444,6.043187