In [1]:
from location import Location
import pandas as pd
from map import Map
# install nbformat
import plotly.express as px
from dash import Dash, dcc, html
api_key = pd.read_csv("/Users/dani/Desktop/api_key.txt",header=None)[0][0]
major_path = "Data/GlobalLandTemperaturesByMajorCity.csv"
all_path = "Data/GlobalLandTemperaturesByCity.csv"
major = Location(major_path,api_key)
all = Location(all_path,api_key)
update_major = False
if update_major:
    major.update_file()
update_all = False
if update_all:
    all.update_file()

In [3]:
major.data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.359952,-4.008256
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.359952,-4.008256
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.359952,-4.008256
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.359952,-4.008256
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.359952,-4.008256
...,...,...,...,...,...,...,...
239172,2013-05-01,18.979,0.807,Xian,China,34.265814,108.954094
239173,2013-06-01,23.522,0.647,Xian,China,34.265814,108.954094
239174,2013-07-01,25.251,1.042,Xian,China,34.265814,108.954094
239175,2013-08-01,24.528,0.840,Xian,China,34.265814,108.954094
239176,2013-09-01,NaN,NaN,Xian,China,34.265814,108.954094

In [4]:
all.data

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,56.162939,10.203921
1,1743-12-01,NaN,NaN,Århus,Denmark,56.162939,10.203921
2,1744-01-01,NaN,NaN,Århus,Denmark,56.162939,10.203921
3,1744-02-01,NaN,NaN,Århus,Denmark,56.162939,10.203921
4,1744-03-01,NaN,NaN,Århus,Denmark,56.162939,10.203921
...,...,...,...,...,...,...,...
8599207,2013-05-01,11.464,0.236,Zwolle,Netherlands,52.516775,6.083022
8599208,2013-06-01,15.043,0.261,Zwolle,Netherlands,52.516775,6.083022
8599209,2013-07-01,18.775,0.193,Zwolle,Netherlands,52.516775,6.083022
8599210,2013-08-01,18.025,0.298,Zwolle,Netherlands,52.516775,6.083022
8599211,2013-09-01,NaN,NaN,Zwolle,Netherlands,52.516775,6.083022

Google api can't find: Bally, Nigel, Sakura

In [2]:
df_map = Map(major.data)

In [4]:
df_map.show_locations()

In [3]:
df_map.bubble()

In [4]:
df_map.heatmap()

In [105]:
#too see
# geopandas, folium, color for heatmap
# px.colors.cyclical.IceFire

17

px.colors.cyclical.IceFire

In [ ]:
# To do
# Clean data
# Statistics for each country (mean, median, mode, std, var, min, max) for each year 
# Scatter plot for each country (x = year, y = temperature)
# Map with temperature range by year