In [11]:
import pandas as pd

In [12]:
path = '/home/user/Downloads/GlobalLandTemperaturesByCity.csv'

In [13]:
GlobalLandTemperaturesByCity = pd.read_csv(path)

In [14]:
GlobalLandTemperaturesByCity.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E